<div>
	<ul class="list-group">
		<li class="list-group-item"><a asp-controller="Admin" asp-action="Agent">All Users</a><span class="badge">398</span></li>
		<li class="list-group-item"><a href="#">Verified Users</a><span class="badge">158</span></li>
		<li class="list-group-item"><a href="#">Active Users</a><span class="badge">370</span></li>
		<li class="list-group-item"><a href="#">Non-Active Users</a><span class="badge">28</span></li>
		<li class="list-group-item"><a asp-controller="Admin" asp-action="Post">Posts</a><span class="badge">1,398</span></li>
	</ul>
</div>