<!--	Footer 	-->
	<div class="footer w3-text-white">
		<div class="container">
			<div class="row">
				<div class="col-md-4 w3-padding-16">
					<h5><b>ABOUT US</b></h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</div>
				<div class="col-md-4 w3-padding-16">
					<h5><b>LINKS</b></h5>
					<p><a>About Tulet9ja</a></p>
					<p><a>Sign Up with Tulet9ja</a></p>
					<p><a>Terms of services</a></p>
					<p><a>How to Use</a></p>
				</div>
				<div class="col-md-4 w3-padding-16">
					<h5><b>CONTACT US</b></h5>
					<p><span class="glyphicon glyphicon-phone"> 08035788654</span></p>
					<p><span class="glyphicon glyphicon-envelope"> 08035788654</span></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<div class="row w3-padding-16">
						<div class="col-md-3">
							<a href="">
								<img src="~/images/050-facebook.svg" class="img img-responsive img-footer">
							</a>
						</div>
						<div class="col-md-3">
							<a href="">
								<img src="~/images/050-google-plus.svg" class="img img-responsive img-footer">
							</a>
						</div>
						<div class="col-md-3">
							<a href="">
								<img src="~/images/050-instagram.svg" class="img img-responsive img-footer">
							</a>
						</div>
						<div class="col-md-3">
							<a href="">
								<img src="~/images/050-twitter.svg" class="img img-responsive img-footer">
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-10 w3-center w3-padding-32">
					<p>&copy; 2018 - Tulet</p>
				</div>
		    </div>
		</div>
</div>