@model PostViewModel
@{
    ViewData["Title"] = "Post Advert";
    ViewData.AddActivePage(ManageNavPages.Post);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" asp-items="Model.Categories" class="form-control"></select>
                <span asp-validation-for="Category"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <select asp-for="Type" asp-items="Model.Types" class="form-control"></select>
                <span asp-validation-for="Type"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price"></span>
            </div>
            <div class="form-group">
                <label asp-for="Negotiable"></label>
                <input asp-for="Negotiable" />
                <span asp-validation-for="Negotiable"></span>
            </div>
            <div class="form-group">
                <label asp-for="State"></label>
                <select asp-for="State" asp-items="Model.States" class="form-control"></select>
                <span asp-validation-for="Category"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo1"></label>
                <img src="~/images/post_default.png" id="photo1" class="img img-responsive"/>
                <input asp-for="Photo1" type="file" accept="image/*" class="form-control btn btn-primary" onchange="document.getElementById('photo1').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Photo1"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo2"></label>
                <img src="~/images/post_default.png" id="photo2" class="img img-responsive"/>
                <input asp-for="Photo2" type="file" accept="image/*" class="form-control btn btn-primary" onchange="document.getElementById('photo2').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Photo2"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo3"></label>
                <img src="~/images/post_default.png" id="photo3" class="img img-responsive"/>
                <input asp-for="Photo3" type="file" accept="image/*" class="form-control btn btn-primary" onchange="document.getElementById('photo3').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Photo3"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit Post</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
